html {
	margin: 0 auto;
	padding:0;
	height:100%;
}

body
	{
		background-image:url('../img/bc-pen.jpg');
		background-size:cover;
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;

		background-color:#f1c40f;
		height:100%;
		font-family: Arial,"Hiragino Sans GB";
	}

#topD {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: darkolivegreen;
	padding: 4px 0;
}

#wel {
	font-size: 14px;
	color: #FFF;
	position: absolute;
	top: 13%;
	right: 100px;
}

#logout {
	font-size: 14px;
	color: #FFF;
	position: absolute;
	top: 30%;
	right: 30px;
}

#disBox {
	position: absolute;
	top: 32%;
	width: 39%;
	left: 23%;
	height: 60%;
	/*
	background-image: url('../img/hd-bc.png');
	background-size: 70% 60%;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	*/
	font-family: "Comic Sans MS";
	font-size: 26px;
}
#disBox p {
	position: relative;
	left: 10%;
	top: 10px;
}

#know {
	color: #006DB0;
}

#old {
	color: #735D8E;
	position: relative;
	bottom: 5px;
}

#come {
	color: #3BB129;
}

#logo {
	position: relative;
	left: 20px;
	top: 5px;
	height: 60px;
	width: 120px;
}

.funA {
	position: absolute;
	right: 80px;
	top: 200px;
	width: 25%;
	height: 65%;
	background-color: rgba(241,196,15,1);
}
.tipLine {
	position: absolute;
	left: 10%;
	top: 5%;
	color: #FFF;
}

.ans {
	position: absolute;
	left: 15%;
	outline-style: none;
	border-radius: 3px;
	width: 300px;
	font-size: 20px;
	padding: 7px 0px;
	font-family: Arial;
}


.forId {
	position: absolute;
	left: 10%;
	top: 5%;
	font-size: 16px;
}

#id {
	top: 15%
}

.forName {
	position: absolute;
	left: 10%;
	top: 35%;
	font-size: 16px;
}

#name {
	top :45%;
}

#regname {
	top: 30%
}

.tipLine2 {
	position: absolute;
	left: 10%;
	top: 15%;
	color: #FFF;
}
.btn {
	background-color: #3498db;
	width: 300px;
	padding: 4px 0;
	/*position: absolute;
	left: 50%;
	top: 50%;
	 */
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border-radius: 3px;
}

#registBtn {
	position: absolute;
	left: 50%;
	top: 80%;
}

#yesBtn {
	position: absolute;
	left: 50%;
	top: 40%
}

#noBtn {
	position: absolute;
	left: 50%;
	top: 80%;
}

#loginBtn {
	position: absolute;
	left: 50%;
	top: 80%;
}

.btn p:last-child {
	text-align: center;
	/*text-transform: uppercase;*/
	color: #FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover {
	cursor: pointer;
}
.btn:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 10%;
	border-radius: 50%;
	background-color: #927608;
	opacity: 0.4;
	bottom: -30px;
}

.back {
	position: absolute;
	bottom: 0;
	right: 0;
}

#error {
	position: absolute;
	left: 0;
	bottom: 10px;
}
