<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Tree you found</title>
    <link href="map/CSS/addRecord.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>
        function addTree() {
            if ($("#name").val() === "") {
                alert("Name cannot be empty!");
                $("#name").focus();
                return ;
            }
            if ($("#longitude").val() === "") {
                alert("longitude cannot be empty!");
                $("#longitude").focus();
                return ;
            }
            if ($("#latitude").val() === "") {
                alert("latitude cannot be empty!");
                $("#latitude").focus();
                return ;
            }
            var da = {
                "species": $("#species").val(),
                "lon": $("#longitude").val(),
                "lat": $("#latitude").val(),
                "scientific": $("#scName").val(),
                "common": $("#name").val(),
                "height": $("#height").val()
            }
            $.post("/addTree/addNewRecord", da, function (result) {
                if (result.code === 200) {
                    alert("Thanks, the record has been submitted!");
                }
                else {
                    alert("Bad lon or lat provided");
                }
            })
        }
    </script>
</head>
<body>
    <p id="notice">This page is in constructing.</p>
    <div id="form">
        <p>At least name and location should be enter</p>
        <form>
            <table>
                <tr>
                    <td align="center">
                        <label for="name">Name: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" name="name" id="name">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label for="longitude">Longitude: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" name="longitude" id="longitude">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label for="latitude">Latitude: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" id="latitude" name="latitude">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label for="height">Height: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" id="height" name="height">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label for="scName">Scientific Name: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" id="scName" name="scName">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label for="species">Species: </label>
                    </td>
                    <td align="center">
                        <input class="ans" type="text" id="species" name="species">
                    </td>
                </tr>
            </table>
            <input type="button" value="Submit" onclick="addTree()">
        </form>
    </div>
    <a href="/addTree/findMyRecord">Click here to see the record u added</a>
</body>
</html>